---
// サーバー側の処理をかく
const pageTitle = "Tomoki's Astro Site";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>{pageTitle}</h1>
    <p>Welcome to Astro!</p>
  </body>
</html>

<style>
  h1 {
    color: red;
  }
</style>

<script>
  console.log("Hello Astro!");
</script>
 